* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #36096d;
  background-image: linear-gradient(360deg, #36096d 0%, #37d5d6 74%);
}

.App {
  display: flex;
}

/* Navbar */
.navBar {
  display: flex;
  width: 15%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.418);
  box-shadow: 0 0 10px 3px rgb(42, 42, 43);
}

.navBar ul {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navBar li {
  list-style-type: none;
  height: 100%;
  transition: 0.5s;
}

a {
  color: #132c33;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

.navBar li:hover {
  background-color: #8ab6d6;
  cursor: pointer;
  transform: scale(0.9);
  height: 100%;
}

.container {
  width: 85%;
}

/* All the router components basic adjustments */
.panel {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Title in the default page */
.home {
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(44, 44, 44);
}

.title {
  width: 100%;
  color: #d8e3e7;
  text-align: center;
  height: fit-content;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5rem;
  background-color: #132c33;
}

/* Backdrop Image */
.imgDiv {
  position: absolute;
  overflow: hidden;
  height: 100%;
  z-index: -1;
}

.imgBG {
  filter: grayscale(0.5);
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.f-screen {
  display: flex;
  height: 100%;
  margin: 2rem;
}

/* Dual Panel's common styling of the components */
.dualScreen ul {
  width: 100%;
  margin: 2rem;
  padding: 1rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 10px 8px 21px 2px rgba(0, 0, 0, 0.67);
  border-radius: 5px;
}

.dualScreen li {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #d8e3e7;
  transition: 0.5s;
  border-radius: 3px;
}

.dualScreen li:hover {
  background-color: #0061a8;
  color: #d8e3e7;
}

.dualScreen h2 {
  color: #e6f1f5;
  text-shadow: 2px 1px 2px rgb(15, 15, 15);
  text-align: center;
  margin-top: 50%;
}

/* Mentor panel */
.mentorSide {
  background-color: #8ab6d67e;
  color: #132c33;
  backdrop-filter: blur(4px);
}

/* Student panel */
.studentSide {
  background-color: #132c3398;
  color: #132c33;
  backdrop-filter: blur(4px);
}

/* Student panel in ShowMentor component */
.showStudent {
  pointer-events: none;
}

.main {
  justify-content: center;
  align-items: center;
}

.showStudent p {
  font-weight: 400;
  color: #d8e3e7;
}

/* Form styling */
form {
  display: flex;
  height: 80%;
  width: 50%;
  padding: 1rem 3rem;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #132c3398;
  border-radius: 3px;
  box-shadow: 10px 8px 21px 2px rgba(0, 0, 0, 0.67);
  backdrop-filter: blur(4px);
}

form label {
  color: #d8e3e7;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #8ab6d656;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 3px;
}

input[type="text"] {
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #e6f1f5;
  color: #132c33;
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
}

input[type="submit"] {
  margin: 0.5rem 0;
  background-color: #d8e3e7;
  color: #053c63;
}

/* Button styling */
.btn {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #8ad68e;
  color: #405f42;
  letter-spacing: 4px;
}

.assign-btn {
  margin: 0 4rem 1rem 4rem;
  box-shadow: 10px 8px 21px 2px rgba(0, 0, 0, 0.67);
}

/* Edit button behaviour in update mentor section */
.u-btn {
  pointer-events: all;
}

.edit-btn {
  cursor: pointer;
  background-color: #d68a8a;
  padding: 0.1rem 0.25rem;
  border: 2px solid #831515;
  color: #831515;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  transition: 0.25s all ease;
}

.edit-btn:hover {
  color: #e6f1f5;
  border-color: #e6f1f5;
  background-color: #e44a4a;
}

.edit-btn:focus {
  animation: animate 0.5s linear;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/* Error in the forms */
.message {
  color: #132c33;
  font-weight: 500;
  border-radius: 3px;
}

/* paragraph alignment */
.p-align {
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  color: #405f42;
  background-color: #d8e3e7d5;
}

/* Custom radio/checkbox styling */
.chkBox {
  display: flex;
  align-items: center;
}

.chkBox label {
  width: 100%;
  cursor: pointer;
}

.chkBox input {
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  background: white;
  border: 1px solid gray;
  width: 15px;
  height: 15px;
}

.chkBox input:checked {
  background-color: #d68a8a;
  border-color: #fd2e2e;
}

/* Update Mentor panel */
.updatePanel {
  flex-direction: column;
  margin: 2rem;
  padding: 5rem;
  width: 100%;
  background-color: #132c3398;
  box-shadow: 10px 8px 21px 2px rgba(0, 0, 0, 0.67);
}

.u-label {
  font-size: 1.5rem;
  width: 70%;
  padding: 1rem 0;
}
